<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

<div class="form-block" style="top: 150px">

    <h1 class="form-header">Sign in to fLanaer</h1>

    <form class="form" name="form" th:method="POST" action="/login/process">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <label for="email">Email</label>
        <br/>
        <input class="field field--add-width" type="text" id="email" name="username"/>
        <br/>

        <label for="password">Password</label>
        <br/>
        <input class="field field--add-width" type="password" id="password" name="password"/>
        <br/>

        <div class="error-block" th:if="${param.error}">
            <h1>Login or password is incorrect</h1>
        </div>
        <br/>

        <input class="btn auth-button" type="submit" value="Sign in">
    </form>
    <br/>

    <div class="alternative-auth-block">
        <h1>Don't register yet?
            <a href="/registration">Sign up</a>
        </h1>
    </div>

</div>

</body>
</html>