.operation-type-navigation{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #00000054;
    margin: 0 10px 20px 10px;
    border-radius: 10px;
}
.operation-type-block{
    margin: 0 20px;
}
.operation-type{
    display: block;
    background-color: #00000063;
    padding: 10px;
    text-align: center;
}
.operation-type h1{
    font-size: 14px;
    font-weight: 500;
}
.operation-item{
    background-color: #0000004f;
    border-radius: 10px;
    height: 70px;
    margin: 10px 10px 20px 10px;
    padding: 10px
}
.operation-item:hover{
    opacity: 0.95
}
.operation-item__name{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.edit-form-url{
    padding: 0;
    background-color: transparent;
    border-style: none;
    color: white;
}
.edit-form-url:hover{
    color: #b6bdf3;
}
.operation-item__amount{
    font-weight: 500;
    font-size: 20px;
}
.operation-item__comment{
    font-size: 15px;
    color: #787878;
    margin-top: 7px;
}
.delete-operation-item-form{
    position: relative;
    left: 1070px;
    bottom: 60px;
    display: inline-block;
}
.delete-operation-item{
    background-color: #ff7c7c;
    color: white;
    padding: 3px 1px 0 1px;
}
.add-operation-item{
    background-color: #55bb4d;
    color: white;
    font-size: 13px;
    font-weight: 600;
    width: 300px;
    padding: 5px;
    margin-top: 10px;
}