.header{
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    height: 40px;
    padding: 10px;
    background-color: #26282c;
}
.header__user-balance{
    margin-left: 190px;
    text-align: center;
}
.header__logout{
    text-align: right;
    position: relative;
    bottom: 35px;
    width: 83%;
    margin-left: 17%;
}
.logout-button{
    color: white;
    background-color: #26282c;
    padding: 0;
    border-style: none;
    font-size: 16px;
}
.logout-button:hover{
    text-decoration: underline;
}