.header{
    position: fixed;
    width: -webkit-fill-available;
    height: 40px;
    padding: 10px;
    background-color: #26282c;
}
.header__user-balance{
    position: relative;
    bottom: 45px;
    max-width: 66%;
    margin-left: 220px;
    text-align: center;
}
.header__logout{
    text-align: right;
    position: relative;
    bottom: 75px;
    width: 83%;
    margin-left: 17%;
}
.header__logout a:hover{
    text-decoration: underline;
}