.sidebar{
    position: fixed;
    width: 215px;
    height: 727px;
    background-color: #252525;
    display: flex;
    justify-content: center;
}
ul{
    position: relative;
    top: 100px;
    display: block;
}
ul a{
    padding: 10px 70px;
    display: block;
    border-radius: 10px;
}
ul a:hover{
    background-color: #333333;
}
li{
    margin-bottom: 10px;
}