<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your expense list</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

<div style="height: 60px">
    <header class="header">
        <ul class="navbar">
            <li><h4><a href="/expense/today">Expense</a></h4></li>

            <li><h4><a href="/earning/today">Earning</a></h4></li>

            <li><h4><a href="/statistic">Statistic</a></h4></li>
        </ul>
    </header>
</div>

<div style="text-align: -webkit-center;">
    <h3 th:text="${monthName + ' ' + day.getDayOfMonth() + ', ' + day.getYear()}" style="padding: 10px; font-weight: 500;"></h3>
</div>

<div class="date-navigation">
    <div class="month-day" th:each="monthDay: ${monthDays}">
        <a class="month-day__number-href" th:href="@{/earning/2024-{month}-{day}(month=${monthDay.getMonthValue()}, day=${monthDay.getDayOfMonth()})}">
            <h2 class="month-day__number" th:text="${monthDay.getDayOfMonth()}"></h2>
        </a>
    </div>
</div>

<div class="expense-total" th:if="${!earningList.isEmpty()}">
    <h2 th:text="${'Total: ' + earning_total + ' ₴'}"></h2>
</div>

<div class="expense-list" th:if="${!earningList.isEmpty()}">
    <div class="earning" th:each="earning, iterStat: ${earningList}">
        <p style="color: white; margin: 10px 0 10px 0;">Earning</p>

        <h2 class="earning-name-and-amount">
            <span class="earning__name" th:text="${earning.getName()}" th:title="${earning.getName()}"></span>
                <span style="color: white"> - </span>
            <span class="earning__amount" th:text="${earning.getAmountToDisplay()}"></span>
        </h2>

        <form class="delete-earning-form" th:method="POST" th:action="@{/earning/{id}(id=${earning.getId()})}" th:object="${earning}">
            <button class="delete-earning btn" type="submit">Delete</button>
        </form>
    </div>
</div>

<div th:if="${earningList.isEmpty()}" style="text-align: -webkit-center; margin: 10px 0 20px 0;">
    <h1 th:text="${'You didn''t have any expense on ' + monthName + ' ' + day.getDayOfMonth()}"></h1>
</div>

<div class="new-earning" th:if="${day.isEqual(today)}">
    <form class="new-earning-form" th:method="POST" th:action="@{/earning/today}" th:object="${newEarning}">
        <label for="new-earning-name"></label>
        <input class="input-field new-earning__name" type="text" th:field="*{name}" id="new-earning-name" placeholder="name">

        <label for="new-earning-amount"></label>
        <input class="input-field new-earning__amount" type="text" th:field="*{amount}" id="new-earning-amount" placeholder="amount">

        <label for="new-earning-currency"></label>
        <select class="select-field new-earning__currency" th:field="*{currency}" id="new-earning-currency">
            <option value="₴">₴</option>
        </select>

        <button class="add-earning btn" type="submit">Add</button>
    </form>
</div>

</body>
</html>