.category-type-navigation{
    display: flex;
    justify-content: center;

    border-radius: 10px;

    padding: 10px;
    margin: 20px 10px 20px 10px;

    background-color: #00000054;
}
.category-type-block{
    margin: 0 20px;
}
.category-type{
    display: block;

    text-align: center;

    padding: 10px;

    background-color: #00000063;
}
.category-type h1{
    font-size: 14px;
    font-weight: 500;
}
.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 20px;
    padding-bottom: 20px;
}
.category{
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #444444;

    padding: 10px;
    margin: 10px;

    background-color: #00000033;
}
.category:hover{
    opacity: 0.8;
}
.category--width{
    width: 250px;
}
.category__balance{
    color: #818181;
}
.new-category{
    display: flex;
    align-items: center;

    border-style: dashed;

    color: #626262;
}
.new-category h1{
    margin-left: 14px;

    color: #626262;
}