.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.category{
    background-color: #00000033;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #444444;
}
.category:hover{
    opacity: 0.8;
}
.category--width{
    width: 250px;
}
.category__balance{
    color: #818181;
}