.category-type-navigation{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #00000054;
    margin: 20px 10px 20px 10px;
    border-radius: 10px;
}
.category-type-block{
    margin: 0 20px;
}
.category-type{
    display: block;
    background-color: #00000063;
    padding: 10px;
    text-align: center;
}
.category-type h1{
    font-size: 14px;
    font-weight: 500;
}
.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.category{
    background-color: #00000033;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #444444;
}
.category:hover{
    opacity: 0.8;
}
.category--width{
    width: 250px;
}
.category__balance{
    color: #818181;
}
.new-category{
    display: flex;
    align-items: center;
    color: #626262;
    border-style: dashed;
}
.new-category h1{
    margin-left: 14px;
    color: #626262;
}