.operations-header{
    text-align: center;

    margin: 10px;
}
.operations-header h4{
    font-weight: 500;

    border-radius: 15px;
    border-style: solid;
    border-width: thin;
    border-color: #444444;

    padding: 5px 20px 5px 20px;
}
.nothing-found-block{
    position: relative;
    top: 40px;
}
.nothing-found-block h1{
    text-align: center;

    font-size: 34px;
    font-weight: 500;
}