.date-navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.month-day{
    margin: 0 10px 10px 0;
    width: 40px;
    text-align: -webkit-center;
    background-color: #cbcbcb;
    border-style: none;
    border-radius: 15px;
}
.month-day:hover{
    opacity: 0.9;
}
.month-day__number-href{
    color: black;
    text-decoration: none;
}
.finance-amount-total{
    text-align: -webkit-center;
    background-color: #727272;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
}
.finance-amount-total h2{
    color: white;
}
.filter-finances-form{
    margin-left: 10px;
}
.filter-finances-form label{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.show_only_button{
    background-color: #2163ff;
    color: white;
}
.finances{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.expense{
    background-color: #727272;
    border-radius: 10px;
    height: 110px;
    margin: 10px 10px 20px 10px;
    padding: 10px
}
.expense:hover{
    opacity: 0.95
}
.expense__n-a{
    margin-bottom: 10px;
    color: white;
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.expense__name{
    color: white;
    font-weight: 500;
}
.expense__amount{
    color: #ff7c7c;
    font-weight: 500;
}
.income{
    background-color: #727272;
    border-radius: 10px;
    width: fit-content;
    height: 110px;
    margin: 10px 10px 20px 10px;
    padding: 10px;
}
.income:hover{
    opacity: 0.95;
}
.income__name{
    color: white;
    font-weight: 500;
}
.income__amount{
    color: #7cc7ff;
    font-weight: 500;
}
.delete-income-form{
    position: relative;
    top: 10px;
}
.delete-income{
    background-color: #ff7c7c;
}
.new-finance-form{
    background-color: #939393;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.add-finance{
    background-color: #86ff7c;
    margin-left: 10px;
}