.statistic-block{
    border-radius: 10px;
    background-color: #d5d5d5;
    width: 400px;
    margin: 10px;
    padding: 10px;
}
.statistic-block h4{
    color: #666666;
    font-weight: 500;
}
.show_all_expenses{
    background-color: #2163ff;
    width: 200px;;
}
.show_all_expenses a{
    color: white;
    text-decoration: none;
}