.date-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1510px;
    margin-left: 215px;
    justify-content: center;
}
.month-day{
    padding: 1px 10px 1px 10px;
    margin: 5px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
}
.month-day__number-href{
    text-decoration: none;
}
.month-day__number{
    color: black;
}
.spending-total{
    background-color: white;
    border-radius: 20px;
    margin: 10px 10px 10px 225px;
}
.spending-total h2{
    color: black;
    margin: auto;
}
.spending{
    border-radius: 10px;
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #0f0f0f;
    width: 1280px;
    position: relative;
    left: 220px;
}
.spending:hover{
    background-color: #1a1a1a;
}
.spending__number{
    margin-left: 10px;
}
.spending__name{
    position: relative;
    left: 130px;
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.spending__amount{
    position: relative;
    left: 170px;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.spending__currency{
    position: relative;
    left: 215px;
    width: 0;
}
.delete-spending-form{
    position: relative;
    right: 680px;
}
.delete-spending:hover{
    background-color: #ff5255;
}
.new-spending{
    background-color: #1a1a1a;
}
.new-spending-form{
    position: relative;
    left: 140px;
}
.new-spending input, select{
    margin-right: 90px;
    font-size: 24px;
    border-radius: 5px;
    border-style: dashed;
    background-color: #2c2c2c;
    color: #aeaeae;
}
.add-spending{
    position: relative;
    right: 1054px;
    bottom: -8px;
}
.add-spending:hover{
    background-color: #80ff64;
}
