.spending{
    border-radius: 10px;
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    height: 80px;
}
.spending:hover{
    background-color: #f4f4f4;
}
.spending__number{
    margin-left: 10px;
}
.spending__name{
    position: relative;
    left: 130px;
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.spending__amount{
    position: relative;
    left: 170px;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.spending__currency{
    position: relative;
    left: 215px;
    width: 0;
}
.delete-spending-form{
    position: relative;
    right: 680px;
}
.delete-spending-button:hover{
    background-color: #ff5255;
}
.new-spending{
    background-color: #f4f4f4;
}
.new-spending-form{
    position: relative;
    left: 140px;
}
.new-spending input{
    margin-right: 90px;
    font-size: 24px;
    border-radius: 5px;
    border-style: dashed;
}
.add-spending{
    position: relative;
    right: 1277px;
    bottom: -8px;
}
.add-spending:hover{
    background-color: #80ff64;
}
.page-navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}