<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create account</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="header__logout" style="bottom: -10px">
        <form th:action="@{/logout}" method="post">
            <button class="logout-button" type="submit">Logout</button>
        </form>
    </div>
</div>

<div class="sidebar">
    <header>Flanaer</header>
    <ul class="navbar">
        <li><a href="/categories">Categories</a></li>

        <li><a href="/operations">Operations</a></li>

        <li><a href="/accounts">Accounts</a></li>

        <li><a href="/settings/currency">Settings</a></li>
    </ul>
</div>


<div class="content">
    <div class="form-block">
        <h1 class="form-header">Create account</h1>

        <form class="form" th:method="POST" th:action="@{/accounts/create(accType=${accountType})}" th:object="${account}">

            <label for="new-account__name">Name</label>
            <br/>
            <input class="field field--add-width" type="text" id="new-account__name" th:field="*{name}"/>
            <br/>
            <div class="error-block" th:if="${#fields.hasErrors('name')}">
                <h1 th:errors="*{name}"></h1>
            </div>
            <br th:if="${#fields.hasErrors('name')}"/>

            <label for="new-account__description">Description</label>
            <br/>
            <input class="field field--add-width" type="text" id="new-account__description" th:field="*{description}"/>
            <br/>
            <div class="error-block" th:if="${#fields.hasErrors('description')}">
                <h1 th:errors="*{description}"></h1>
            </div>
            <br th:if="${#fields.hasErrors('description')}"/>

            <button type="submit" class="add-operation-item btn">Create</button>

        </form>

    </div>
</div>

</body>
</html>