<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Edit ' + account.getName()}"></title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body>

<div class="header">
    <div class="header__logout" style="bottom: -10px">
        <form th:action="@{/logout}" method="post">
            <button class="logout-button" type="submit">Logout</button>
        </form>
    </div>
</div>

<div class="sidebar">
    <header>Flanaer</header>
    <ul class="navbar">
        <li><a href="/categories">Categories</a></li>

        <li><a href="/operations">Operations</a></li>

        <li><a href="/accounts">Accounts</a></li>

        <li><a href="/statistics">Statistics</a></li>

        <li><a href="/settings/currency">Settings</a></li>
    </ul>
</div>

<div class="content">

    <div class="form-block">
        <h1 class="form-header">Edit account</h1>

        <form class="form" th:method="PATCH" th:action="@{/accounts/edit/{id}(id=${account.getId()})}" th:object="${account}">

            <label for="new-account__name">Name</label>
            <br/>
            <input class="field field--add-width" type="text" id="new-account__name" th:field="*{name}"/>
            <br/>
            <div class="error-block" th:if="${#fields.hasErrors('name')}">
                <h1 th:errors="*{name}"></h1>
            </div>
            <br th:if="${#fields.hasErrors('name')}"/>

            <label for="new-account__balance">Balance</label>
            <br/>
            <input class="field field--add-width" type="text" id="new-account__balance" th:field="*{balance}"/>
            <br/>
            <div class="error-block" th:if="${#fields.hasErrors('balance')}">
                <h1 th:errors="*{balance}"></h1>
            </div>
            <br th:if="${#fields.hasErrors('balance')}"/>

            <label for="new-account__currency">Currency</label>
            <br/>
            <select class="field select-field--add-width" id="new-account__currency" th:field="*{currency}">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="RUB">RUB</option>
            </select>
            <br/>

            <label for="new-account__description">Description</label>
            <br/>
            <input class="field field--add-width" type="text" id="new-account__description" th:field="*{description}"/>
            <br/>
            <div class="error-block" th:if="${#fields.hasErrors('description')}">
                <h1 th:errors="*{description}"></h1>
            </div>
            <br th:if="${#fields.hasErrors('description')}"/>

            <label for="account__type">Type</label>
            <br/>
            <select class="field select-field--add-width" id="account__type" th:field="*{type}" th:with="typeClass=${T(org.qweshqa.financialmanager.utils.enums.AccountType)}">
                <option th:value="${typeClass.FINANCIAL}">Default</option>
                <option th:value="${typeClass.SAVINGS}">Savings</option>
            </select>
            <br/>

            <button type="submit" class="btn btn--basic">Edit</button>

        </form>
        <br/>

        <div class="form" style="text-align: center;">
            <div class="warning-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"></path>
                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"></path>
                </svg>

                <span>Warning! This action will delete ALL linked operations with this account!</span>
            </div>
            <br/>

            <form class="delete-account-form" th:method="DELETE" th:action="@{/accounts/delete/{id}(id=${account.getId()})}">
                <button type="submit" class="delete-account-button">Delete</button>
            </form>

        </div>

    </div>

</div>

</body>
</html>