<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

<div id="header-space" style="height: 60px"></div>
<div class="header">

    <div class="header__user-balance">
        <h5>General balance</h5>
        <h2 th:text="${amountFormatter.formatAmount(user.getBalance()) + ' ' + user.getSetting().getCurrencyUnit()}"></h2>
    </div>

    <div class="header__logout">
        <form th:action="@{/logout}" method="post">
            <button class="logout-button" type="submit">Logout</button>
        </form>
    </div>
</div>

<div class="sidebar">
    <header>Flanaer</header>
    <ul class="navbar">
        <li><a href="/finances/show">Dashboard</a></li>

        <li><a href="/accounts">Accounts</a></li>

        <li><a href="/settings/currency">Settings</a></li>
    </ul>
</div>

<div class="content">

    <div class="accounts-block">
        <div class="account-container">

            <h1 class="account-container__header">Accounts</h1>
            <div class="accounts">
                <div class="account" th:each="account: ${financialAccounts}">
                    <h1 class="account__name" th:text="${account.getName()}"></h1>

                    <h1 th:if="${account.getBalance() < 0}" class="account__balance" th:text="${amountFormatter.formatAmount(account.getBalance()) + ' ' + currency + '.'}"
                    style="color:#ff7c7c;"></h1>
                    <h1 th:if="${account.getBalance() > 0}" class="account__balance" th:text="${amountFormatter.formatAmount(account.getBalance()) + ' ' + currency + '.'}"
                        style="color:#7cffb2"></h1>
                    <h1 th:if="${account.getBalance() == 0}" class="account__balance" th:text="${amountFormatter.formatAmount(account.getBalance()) + ' ' + currency + '.'}"></h1>

                    <h1 class="account__description" th:text="${account.getDescription()}"></h1>
                </div>
            </div>

            <h1 class="account-container__header">Savings</h1>
            <div class="accounts">
                <div class="account" th:each="account: ${savingsAccounts}">
                    <h1 class="account__name" th:text="${account.getName()}"></h1>

                    <h1 th:if="${account.getBalance() < 0}" class="account__balance" th:text="${amountFormatter.formatAmount(account.getBalance()) + ' ' + currency + '.'}"
                        style="color:#ff7c7c;"></h1>
                    <h1 th:if="${account.getBalance() > 0}" class="account__balance" th:text="${amountFormatter.formatAmount(account.getBalance()) + ' ' + currency + '.'}"
                        style="color:#7cffb2"></h1>
                    <h1 th:if="${account.getBalance() == 0}" class="account__balance" th:text="${amountFormatter.formatAmount(account.getBalance()) + ' ' + currency + '.'}"></h1>

                    <h1 class="account__description" th:text="${account.getDescription()}"></h1>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>