<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your expense list</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

<div style="height: 60px">
    <header class="header">
        <ul class="navbar">
            <li><h4><a th:href="@{/expenses/{date}(date=${today})}">Expenses</a></h4></li>

            <li><h4><a th:href="@{/incomes/{date}(date=${today})}">Incomes</a></h4></li>

            <li><h4><a href="/statistic">Statistic</a></h4></li>
        </ul>
    </header>
</div>

<div th:with="monthClass=${T(java.time.Month)}" style="text-align: -webkit-center;">
    <h3 th:text="${date.getMonth().getDisplayName(T(java.time.format.TextStyle).FULL, T(java.util.Locale).ENGLISH) + ' ' + date.getDayOfMonth() + ', ' + date.getYear()}" style="padding: 10px; font-weight: 500;"></h3>
</div>

<div class="date-navigation">
    <div class="month-day" th:each="monthDay: ${monthDays}">
        <a class="month-day__number-href" th:href="@{/incomes/2024-{month}-{day}(month=${monthDay.getMonthValue()}, day=${monthDay.getDayOfMonth()})}">
            <h2 class="month-day__number" th:text="${monthDay.getDayOfMonth()}"></h2>
        </a>
    </div>
</div>

<div class="expense-total" th:if="${!incomeList.isEmpty()}">
    <h2 th:text="${'Total: ' + income_total + ' ₴'}"></h2>
</div>

<div class="expense-list" th:if="${!incomeList.isEmpty()}">
    <div class="income" th:each="income, iterStat: ${incomeList}">
        <p style="color: white; margin: 10px 0 10px 0;">Income</p>

        <h2 class="income-name-and-amount">
            <span class="income__name" th:text="${income.getName()}" th:title="${income.getName()}"></span>
                <span style="color: white"> - </span>
            <span class="income__amount" th:text="${income.getAmountToDisplay()}"></span>
        </h2>

        <form class="delete-income-form" th:method="POST" th:action="@{/incomes/{date}/{id}(date=${date}, id=${income.getId()})}" th:object="${income}">
            <button class="delete-income btn" type="submit">Delete</button>
        </form>
    </div>
</div>

<div th:with="monthClass=${T(java.time.Month)}" th:if="${incomeList.isEmpty()}" style="text-align: -webkit-center; margin: 10px 0 20px 0;">
    <h1 th:text="${'You didn''t have any incomes on ' + date.getMonth().getDisplayName(T(java.time.format.TextStyle).FULL, T(java.util.Locale).ENGLISH) + ' ' + date.getDayOfMonth()}"></h1>
</div>

<div class="new-income">
    <form class="new-income-form" th:method="POST" th:action="@{/incomes/{date}(date=${date})}" th:object="${newIncome}">
        <label for="new-income-name"></label>
        <input class="input-field new-income__name" type="text" th:field="*{name}" id="new-income-name" placeholder="name">

        <label for="new-income-amount"></label>
        <input class="input-field new-income__amount" type="text" th:field="*{amount}" id="new-income-amount" placeholder="amount">

        <label for="new-income-currency"></label>
        <select class="select-field new-income__currency" th:field="*{currency}" id="new-income-currency">
            <option value="₴">₴</option>
        </select>

        <button class="add-income btn" type="submit">Add</button>
    </form>
</div>

</body>
</html>