<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your finance list</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

<div style="height: 60px">
    <header class="header">
        <ul class="navbar">
            <li><h4><a th:href="@{/finances/{date}(date=${today})}">Finances</a></h4></li>

            <li><h4><a href="/statistic">Statistic</a></h4></li>
        </ul>
    </header>
</div>

<div style="text-align: -webkit-center;"  th:with="monthClass=${T(java.time.Month)}">
    <h3 th:text="${date.getMonth().getDisplayName(T(java.time.format.TextStyle).FULL, T(java.util.Locale).ENGLISH) + ' ' + date.getDayOfMonth() + ', ' + date.getYear()}" style="padding: 10px; font-weight: 500;"></h3>
</div>

<div class="date-navigation">
    <div class="month-day" th:each="monthDay: ${monthDays}">
        <a class="month-day__number-href" th:href="@{/finances/2024-{month}-{day}(month=${monthDay.getMonthValue()}, day=${monthDay.getDayOfMonth()})}">
            <h2 class="month-day__number" th:text="${monthDay.getDayOfMonth()}"></h2>
        </a>
    </div>
</div>

<div style="text-align: center; margin: 10px">
    <a class="btn add-finance" style="display: inline-block" th:href="@{/finances/{date}/create(date=${date})}">Create a new expense/income</a>
</div>

<div class="finance-amount-total" th:if="${!finances.isEmpty()}">
    <h2 th:text="${'Total: ' + finances_amount_total + ' ₴'}"></h2>
</div>


<div class="finances">
    <div class="finance-container" th:each="finance, iterStat: ${finances}" th:with="typeClass=${T(org.qweshqa.financialmanager.utils.FinanceType)}">
        <div th:if="${finance.getType() == T(org.qweshqa.financialmanager.utils.FinanceType).EXPENSE}" class="expense">
            <p style="color: white; margin: 0 0 10px 0;">Expense</p>

            <h2 class="expense__n-a">
                <span class="expense__name" th:text="${finance.getName()}" th:title="${finance.getName()}"></span>
                (
                <span class="expense__amount" th:text="${'-' +  finance.getAmountToDisplay()}" th:title="${finance.getAmountToDisplay()}"></span>
                )
            </h2>

            <form class="delete-expense-form" th:method="POST" th:action="@{/finances/{date}/{id}(date=${date}, id=${finance.getId()})}" th:object="${finance}">
                <button style="background-color: #ff7c7c;" class="delete-expense btn" type="submit">Delete</button>
            </form>
        </div>
        <div class="income" th:if="${finance.getType() == T(org.qweshqa.financialmanager.utils.FinanceType).INCOME}">
            <p style="color: white; margin: 0 0 10px 0;">Income</p>

            <h2 class="income-name-and-amount">
                <span class="income__name" th:text="${finance.getName()}" th:title="${finance.getName()}"></span>
                <span style="color: white"> - </span>
                <span class="income__amount" th:text="${finance.getAmountToDisplay()}"></span>
            </h2>

            <form class="delete-income-form" th:method="POST" th:action="@{/finances/{date}/{id}(date=${date}, id=${finance.getId()})}" th:object="${finance}">
                <button class="delete-income btn" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>