.accounts-block{
    text-align: center;

    margin: 70px 0 0;
}
.accounts-block h1{
    font-size: 16px;
}
.accounts-container{
    display: inline-block;
    text-align: left;
}
.accounts-container__header{
    margin: 0 0 5px 20px;
}
.account-container__href:hover{
    opacity: 0.8;
}
.accounts{
    display: inline-block;

    padding: 5px 15px 5px 15px;
    margin-bottom: 20px;

    border-radius: 10px;

    background-color: #2b2e36;
}
.account-item{
    width: 350px;
    height: 60px;

    border-style: solid;
    border-width: thin;
    border-color: #5e5e5e;
    border-radius: 7px;

    padding: 10px;
    margin: 10px 0 15px;
}
.account-item h1{
    font-size: 20px;
}
.account-item__balance{
    color: #838383;;
}
.account-item__description{
    max-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    color: #838383;
}
.new-account{
    width: 370px;
    height: 50px;

    padding: 0;
}
.new-account:hover{
    opacity: 0.8;
}
.new-account__href{
    display: flex;
    align-items: center;

    padding: 10px 0 10px 10px;

    color: #838383;
}
.new-account__href svg{
    display: inline-block;
}
.new-account__href h1{
    display: inline;

    position: relative;
    left: 10px;

    color: #838383;
}
.archive-href{
    font-size: 14px;

    border-style: solid;
    border-width: thin;
    border-color: #4c4c4c;
    border-radius: 15px;

    padding: 10px;

    color: wheat;
    background-color: transparent;
}
.archive-href:hover{
    background-color: #2f3136;
}