.account-container{
    text-align: center;

    margin: 50px 0 20px 0;
}
.account{
    display: inline-block;
    width: 500px;

    text-align: left;

    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #5e5e5e;

    padding: 10px;
    margin-bottom: 30px;

    background-color: #0000004f;
}
.account__name{
    width: 500px;

    font-size: 40px;
    font-weight: 500;

    max-height: 149px;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: anywhere;

    margin-bottom: 30px;
}
.account__balance{
    font-size: 26px;
    font-weight: 500;

    text-align: center;

    margin-bottom: 20px;

    color: white;
}
.account__description{
    font-size: 16px;
    font-weight: 500;

    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    color: #666666;
}