.date-navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.month-day{
    margin: 0 10px 10px 0;
    width: 40px;
    text-align: -webkit-center;
    background-color: #3838386e;
    border-style: none;
    border-radius: 15px;
}
.month-day:hover{
    opacity: 0.9;
}
.month-day__number-href{
    color: black;
    text-decoration: none;
}
.finance-amount-total{
    text-align: -webkit-center;
    background-color: #363a3ec2;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
}
.finance-amount-total h2{
    color: white;
}
.finance-item{
    background-color: #0000004f;
    border-radius: 10px;
    height: 70px;
    margin: 10px 10px 20px 10px;
    padding: 10px
}
.finance-item:hover{
    opacity: 0.95
}
.finance-item__name{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.finance-item__amount{
    font-weight: 500;
    font-size: 20px;
}
.finance-item__comment{
    font-size: 15px;
    color: #787878;
    margin-top: 7px;
}
.delete-finance-item-form{
    position: relative;
    left: 1260px;
    bottom: 60px;
    display: inline-block;
}
.delete-finance-item{
    background-color: #ff7c7c;
    color: white;
    padding: 3px 1px 0 1px;
}
.add-finance-item{
    background-color: #55bb4d;
    color: white;
    font-size: 13px;
    font-weight: 600;
    width: 300px;
    padding: 5px;
}