.finance-type-navigation{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #00000054;
    margin: 0 10px 20px 10px;
    border-radius: 10px;
}
.finance-type{
    background-color: #00000063;
    padding: 10px;
    margin: 30px;
}
.finance-item{
    background-color: #0000004f;
    border-radius: 10px;
    height: 70px;
    margin: 10px 10px 20px 10px;
    padding: 10px
}
.finance-item:hover{
    opacity: 0.95
}
.finance-item__name{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.finance-item__amount{
    font-weight: 500;
    font-size: 20px;
}
.finance-item__comment{
    font-size: 15px;
    color: #787878;
    margin-top: 7px;
}
.delete-finance-item-form{
    position: relative;
    left: 1070px;
    bottom: 60px;
    display: inline-block;
}
.delete-finance-item{
    background-color: #ff7c7c;
    color: white;
    padding: 3px 1px 0 1px;
}
.add-finance-item{
    background-color: #55bb4d;
    color: white;
    font-size: 13px;
    font-weight: 600;
    width: 300px;
    padding: 5px;
    margin-top: 10px;
}