<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">

    <div class="header__user-balance">
        <h5>General balance</h5>
        <h2 th:text="${amountFormatter.formatAmount(user.getBalance()) + ' ' + user.getSetting().getCurrencyUnit()}"></h2>
    </div>

    <div class="header__logout">
        <form th:action="@{/logout}" method="post">
            <button class="logout-button" type="submit">Logout</button>
        </form>
    </div>
</div>

<div class="sidebar">
    <header>Flanaer</header>
    <ul class="navbar">
        <li><a href="/category">Categories</a></li>

        <li><a href="/operations/show">Operations</a></li>

        <li><a href="/accounts">Accounts</a></li>

        <li><a href="/settings/currency">Settings</a></li>
    </ul>
</div>

<div class="content">

    <div class="categories">

        <a class="category category--width" th:href="@{/category/{id}(id=${category.getId()})}" th:each="category: ${categories}">

            <div>

                <h1 th:text="${category.getName()}"></h1>

                <h1 class="category__balance" th:if="${category.getTransientBalance() == 0}" th:text="${category.getTransientBalance() + ' ' + user.getSetting().getCurrencyUnit() + '.'}"></h1>
                <h1 th:if="${category.getTransientBalance() != 0}" th:with="type=${T(org.qweshqa.financialmanager.utils.enums.CategoryType)}"
                    th:text="${category.getTransientBalance() + ' ' + user.getSetting().getCurrencyUnit() + '.'}"
                    th:style="${category.getCategoryType() == type.INCOME ? 'color:#7cffb2' : 'color:#ff7c7c'}"
                ></h1>

            </div>

        </a>

        <a class="new-category category category--width" th:href="@{/category/create}">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
            </svg>

            <h1>New category</h1>
        </a>

    </div>

</div>

</body>
</html>