.notify-success-block{
    display: inline-block;

    width: -webkit-fill-available;

    text-align: center;

    border-radius: 5px;

    padding: 10px;
    margin: 10px;

    background-color: #00ff6f54;
}
.notify-success-block h1{
    font-size: 16px;

    color: #7bff99;
}
.currency-setting .field{
    margin: 10px;
}
.currency-setting .btn{
    width: 150px;

    font-weight: 600;
    font-size: 13px;

    margin: 10px;

    background-color: #55bb4d;
    color: white;
}