.notify-success-block{
    width: -webkit-fill-available;
    text-align: center;
    display: inline-block;
    background-color: #00ff6f54;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.notify-success-block h1{
    color: #7bff99;
    font-size: 16px;
}
.currency-setting .field{
    margin: 10px;
}
.currency-setting .btn{
    background-color: #55bb4d;
    color: white;
    font-size: 13px;
    width: 150px;
    margin: 10px;
    font-weight: 600;
}