.error-block{
    display: inline-block;
    width: 282px;

    text-align: left;

    border-radius: 5px;

    padding: 10px;
    margin: 0 0 10px 0;

    background-color: #ff000054;
}
.error-block h1{
    font-size: 16px;

    color: #ff7b7b;
}
.auth-button{
    width: 302px;
    font-size: 16px;

    margin: 0 0 10px 0;

    background-color: white;
}
.alternative-auth-block{
    display: inline-block;
    width: 304px;

    text-align: left;

    border-radius: 10px;

    margin-top: 10px;
    padding: 15px;

    background-color: #2b2e36;
}
.alternative-auth-block h1{
    font-size: 16px;
}
.alternative-auth-block a{
    color: #7382fb;
}
.alternative-auth-block a:hover{
    text-decoration: underline;
}


