<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All-time expenses</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body>

<div style="height: 60px">
    <header class="header">
        <ul class="navbar">
            <li><h4><a th:href="@{/finances/{date}(date=${today})}">Finances</a></h4></li>

            <li><h4><a href="/statistic">Statistic</a></h4></li>
        </ul>

        <div class="header__logout">
            <h4><a href="/logout">Logout</a></h4>
        </div>
    </header>
</div>

<div class="finances">
    <div class="expense" th:each="expense: ${expenses}">
        <p style="color: white; margin: 0 0 10px 0;">Expense</p>

        <h2 class="expense__n-a">
            <span class="expense__name" th:text="${expense.getName()}" th:title="${expense.getName()}"></span>
            (
            <span class="expense__amount" th:text="${'-' +  expense.getAmountToDisplay()}" th:title="${expense.getAmountToDisplay()}"></span>
            )
        </h2>

    </div>
</div>

</body>
</html>