<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistic</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body>

<div style="height: 60px">
    <header class="header">
        <ul class="navbar">
            <li><h4><a href="/expenses/today">Expense</a></h4></li>

            <li><h4><a href="/earning/today">Earning</a></h4></li>

            <li><h4><a href="/statistic">Statistic</a></h4></li>
        </ul>
    </header>
</div>

<div class="statistic-block">
    <h4 th:text="${'Expense total: ' + general_spending_total + ' грн.'}"></h4>
    <h4 th:text="${'Total amount of expenses: ' + total_amount_of_spending}"></h4>
    <h4 th:if="${biggest_expense}" th:text="${'Your biggest expense: ' + biggest_expense.getName() + ', ' + biggest_expense.getAmountToDisplay()}"></h4>
</div>

</body>
</html>