<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All-time incomes</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body>

<div style="height: 60px">
    <header class="header">
        <ul class="navbar">
            <li><h4><a th:href="@{/finances/{date}(date=${today})}">Finances</a></h4></li>

            <li><h4><a href="/statistic">Statistic</a></h4></li>
        </ul>
    </header>
</div>

<div class="expense-list" th:if="${!incomes.isEmpty()}">
    <div class="income" th:each="income, iterStat: ${incomes}">
        <p style="color: white; margin: 10px 0 10px 0;">Income</p>

        <h2 class="income-name-and-amount">
            <span class="income__name" th:text="${income.getName()}" th:title="${income.getName()}"></span>
            <span style="color: white"> - </span>
            <span class="income__amount" th:text="${income.getAmountToDisplay()}"></span>
        </h2>
    </div>
</div>

</body>
</html>