<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistic</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">

    <div class="header__user-balance">
        <h5>General balance</h5>
        <h2 th:text="${amountFormatter.formatAmount(user.getBalance()) + ' ' + user.getSetting().getCurrencyUnit()}"></h2>
    </div>

    <div class="header__logout">
        <form th:action="@{/logout}" method="post">
            <button class="logout-button" type="submit">Logout</button>
        </form>
    </div>
</div>

<div class="sidebar">
    <header>Flanaer</header>
    <ul class="navbar">
        <li><a href="/categories">Categories</a></li>

        <li><a href="/operations">Operations</a></li>

        <li><a href="/accounts">Accounts</a></li>

        <li><a href="/statistics">Statistics</a></li>

        <li><a href="/settings/currency">Settings</a></li>
    </ul>
</div>

<div class="content">

    <div class="operations-period-navigation-block block--border-bottom">

        <form class="operations-period-navigation" th:method="GET" th:action="@{/statistics}">
            <label for="period"></label>
            <select class="field" name="p" id="period">
                <option value="all-time">All time</option>
                <option value="year">Year</option>
                <option value="month">Month</option>
                <option value="day">Day</option>
            </select>
            <br/>

            <button class="btn" type="submit">Submit</button>
        </form>

        <div class="date-navigation" th:style="${period.equals('all-time') ? 'justify-content: center;' : ''}">

            <a th:if="${period.equals('day')}" th:href="@{/statistics(p=${period}, y=${date.getYear()}, m=${date.getMonthValue()}, d=${date.getDayOfMonth() - 1})}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"></path>
                </svg>
            </a>
            <a th:if="${period.equals('month')}" th:href="@{/statistics(p=${period}, y=${date.getYear()}, m=${date.getMonthValue() - 1})}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"></path>
                </svg>
            </a>
            <a th:if="${period.equals('year')}" th:href="@{/statistics(p=${period}, y=${date.getYear() - 1})}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"></path>
                </svg>
            </a>

            <span th:text="${displayDate}"></span>

            <a th:if="${period.equals('day')}" th:href="@{/statistics(p=${period}, y=${date.getYear()}, m=${date.getMonthValue()}, d=${date.getDayOfMonth() + 1})}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                </svg>
            </a>
            <a th:if="${period.equals('month')}" th:href="@{/statistics(p=${period}, y=${date.getYear()}, m=${date.getMonthValue() + 1})}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                </svg>
            </a>
            <a th:if="${period.equals('year')}" th:href="@{/statistics(p=${period}, y=${date.getYear() + 1})}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
                </svg>
            </a>

        </div>
    </div>

    <div class="category-type-navigation">
        <div class="category-type-block">
            <a class="category-type btn" th:href="@{/statistics(p=${period}, t='expense')}">Expenses
                <h1 th:text="${amountFormatter.formatAmount(expense_total) + ' ' + user.getSetting().getCurrencyUnit()}" style="color:#ff7c7c;"></h1></a>
        </div>
        <div class="category-type-block">
            <a class="category-type btn" th:href="@{/statistics(p=${period}, t='income')}">Incomes
                <h1 th:text="${amountFormatter.formatAmount(income_total) + ' ' + user.getSetting().getCurrencyUnit()}" style="color:#7cffb2"></h1></a>
        </div>
    </div>

    <div class="cash-flow">
        <div>
            <h1>Cash flow</h1>
            <h1 th:if="${cash_flow == 0.0}" th:text="${cash_flow + ' ' + settings.getCurrencyUnit() + '.'}"
                style="color: #818181;"></h1>
            <h1 th:if="${cash_flow != 0.0}" th:text="${cash_flow + ' ' + settings.getCurrencyUnit() + '.'}"
            th:style="${cash_flow > 0.0 ? 'color:#7cffb2;' : 'color:#ff7c7c;'}"></h1>
        </div>
    </div>

    <div class="statistic-chart">
        <img th:src="@{/statistics/generateChart(p=${period}, t=${type}, d=${date.getDayOfMonth()}, m=${date.getMonthValue()}, y=${date.getYear()})}">
    </div>

    <div class="average-values">
        <h1 class="average-values__header" style="text-align: center;">Average values</h1>
        <h1 th:if="${daily_average_value == null && monthly_average_value == null}" style="text-align: center">
            None</h1>

        <h1 class="average-value" th:if="${daily_average_value != null}">
            <span>Day</span>
            <span th:text="${amountFormatter.formatAmount(daily_average_value) + ' ' + settings.getCurrencyUnit() + '.'}"></span>
        </h1>

        <h1 class="average-value" th:if="${monthly_average_value != null}">
            <span>Month</span>
            <span th:text="${amountFormatter.formatAmount(monthly_average_value) + ' ' + settings.getCurrencyUnit() + '.'}"></span>
        </h1>
    </div>

    <div style="margin: 0 100px;">
        <div class="category-percent-of-cash-flow" th:each="category: ${categories}">
            <h1 th:text="${category.getName()}"></h1>

            <div th:if="${period.equals('day')}">
                <h1 th:text="${amountFormatter.formatAmount(categoryService.getCategoryTotalByUserAndDate(category, user, date)) + ' ' + settings.getCurrencyUnit() + ' | ' +
                categoryService.getCategoryTotalByUserAndDate(category, user, date) / cash_flow * 100 + '%'}"></h1>

                <div class="cash-flow-percent-line" th:style="${'width:' + categoryService.getCategoryTotalByUser(category, user) / cash_flow * 100 + '%;' + 'background-color:' + (type.equals('income') ? '#7cffb2;' : '#ff7c7c;')}"></div>
            </div>
            <div th:if="${period.equals('month')}">
                <h1 th:text="${amountFormatter.formatAmount(categoryService.getCategoryTotalByUserAndYearAndMonth(category, user, date.getYear(), date.getMonthValue())) + ' ' + settings.getCurrencyUnit() + ' | ' +
                categoryService.getCategoryTotalByUserAndYearAndMonth(category, user, date.getYear(), date.getMonthValue()) / cash_flow * 100 + '%'}"></h1>

                <div class="cash-flow-percent-line" th:style="${'width:' + categoryService.getCategoryTotalByUser(category, user) / cash_flow * 100 + '%;' + 'background-color:' + (type.equals('income') ? '#7cffb2;' : '#ff7c7c;')}"></div>
            </div>
            <div th:if="${period.equals('year')}">
                <h1 th:text="${amountFormatter.formatAmount(categoryService.getCategoryTotalByUserAndYear(category, user, date.getYear())) + ' ' + settings.getCurrencyUnit() + ' | ' +
                categoryService.getCategoryTotalByUser(category, user) / cash_flow * 100 + '%'}"></h1>

                <div class="cash-flow-percent-line" th:style="${'width:' + categoryService.getCategoryTotalByUserAndYear(category, user, date.getYear()) / cash_flow * 100 + '%;' + 'background-color:' + (type.equals('income') ? '#7cffb2;' : '#ff7c7c;')}"></div>
            </div>
            <div th:if="${period.equals('all-time')}">
                <h1 th:text="${amountFormatter.formatAmount(categoryService.getCategoryTotalByUser(category, user)) + ' ' + settings.getCurrencyUnit() + ' | ' +
                categoryService.getCategoryTotalByUser(category, user) / cash_flow * 100 + '%'}"></h1>

                <div class="cash-flow-percent-line" th:style="${'width:' + categoryService.getCategoryTotalByUser(category, user) / cash_flow * 100 + '%;' + 'background-color:' + (type.equals('income') ? '#7cffb2;' : '#ff7c7c;')}"></div>
            </div>
        </div>
    </div>

</div>

</body>
</html>