.cash-flow{
    position: relative;
    top: 50px;

    text-align: center;

    border-style: solid;
    border-width: thin;
    border-color: #404040;
    border-radius: 10px;

    margin: 0 20px 0;
}
.cash-flow div{
    font-size: 14px;

    padding: 10px;

    background-color: #0000003b;
}
.statistic-chart{
    text-align: center;

    margin-top: 70px;
}
.statistic-chart img{
    width: 960px;
    height: 600px;

    border-radius: 10px;
}
.average-values{
    font-size: 12px;

    border-radius: 10px;

    padding: 10px;
    margin: 40px 100px;

    background-color: #0000003b;
}
.average-value{
    display: flex;
    justify-content: space-between;
}
.category-percent-of-cash-flow{
    font-size: 12px;

    padding: 10px;

    border-radius: 10px;

    background-color: #0000003b;
}
.category-percent-of-cash-flow h1{
    margin-bottom: 2px;
}
.cash-flow-percent-line{
    height: 10px;

    border-radius: 15px;
}