<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit operation</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">

    <div class="header__user-balance">
        <h5>General balance</h5>
        <h2 th:text="${amountFormatter.formatAmount(user.getBalance()) + ' ' + user.getSetting().getCurrencyUnit()}"></h2>
    </div>

    <div class="header__logout">
        <form th:action="@{/logout}" method="post">
            <button class="logout-button" type="submit">Logout</button>
        </form>
    </div>
</div>

<div class="sidebar">
    <header>Flanaer</header>
    <ul class="navbar">
        <li><a href="/categories">Categories</a></li>

        <li><a href="/operations">Operations</a></li>

        <li><a href="/accounts">Accounts</a></li>

        <li><a href="/settings/currency">Settings</a></li>
    </ul>
</div>

<div class="content">

    <div class="form-block">
        <h1 class="form-header">Edit operation</h1>

        <form class="form" th:method="PATCH" th:action="@{/operations/edit/{id}(id=${operation.getId()})}" th:object="${operation}">

            <label for="new-operation-name">Name</label>
            <br/>
            <input class="field field--add-width" type="text" th:field="*{name}" id="new-operation-name">
            <br/>
            <div class="error-block" th:if="${#fields.hasErrors('name')}">
                <h1 th:errors="*{name}"></h1>
            </div>
            <br th:if="${#fields.hasErrors('name')}"/>

            <label for="new-operation-amount">Amount</label>
            <br/>
            <input class="field field--add-width" type="text" th:field="*{amount}" id="new-operation-amount">
            <br/>
            <div class="error-block" th:if="${#fields.hasErrors('amount')}">
                <h1 th:errors="*{amount}"></h1>
            </div>
            <br th:if="${#fields.hasErrors('amount')}"/>

            <label for="new-operation-comment">Comment</label>
            <br/>
            <input class="field field--add-width" type="text" th:field="*{comment}" id="new-operation-comment" placeholder="No comment.">
            <br/>
            <div class="error-block" th:if="${#fields.hasErrors('comment')}">
                <h1 th:errors="*{comment}"></h1>
            </div>
            <br th:if="${#fields.hasErrors('comment')}"/>

            <button class="add-operation-item btn" type="submit">Update</button>

        </form>
    </div>

</div>

</body>
</html>