.input-field{
    font-size: 22px;
    border-style: none;
    border-color: white;
    border-radius: 5px;
    margin: 0 10px;
}
.select-field{
    font-size: 20px;
    border-style: groove;
    border-color: #999999;
    border-radius: 5px;
    margin: 0 10px;
}