.navbar{
    overflow: hidden;
}
.navbar li{
    width: 100%;
}
.navbar li a{
    display: block;
    height: 100%;

    padding: 10px 55px 10px 45px;
    margin: 0 10px 10px 10px;

    border-radius: 10px;

    font-weight: 500;
    text-decoration: none;

    color: white;
}
.navbar li a:hover{
    background-color: #6a6a6a29;
}