.navbar{
    overflow: hidden;
}
.navbar li{
    float: left;
}
.navbar h4{
    margin: 10px;
}
.navbar li a{
    color: white;
    font-weight: 100;
    text-decoration: none;
    padding: 3px 15px 3px 15px;
    border-radius: 20px;
}
.navbar li a:hover{
    background-color: #747474;
}