.navbar{
    overflow: hidden;
}
.navbar li{
    float: left;
}
.navbar h4{
    margin: 10px;
}
.navbar li a{
    color: #9a9a9a;
    text-decoration: none;
    padding: 3px 15px 3px 15px;
    border-radius: 20px;
}
.navbar li a:hover{
    background-color: #e7e7e7;
}