<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your spending list</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

<div style="height: 60px">
    <header class="header">
        <ul class="navbar">
            <li><h4><a href="/spending/today">Spending</a></h4></li>

            <li><h4><a href="/earning/today">Earning</a></h4></li>

        </ul>
    </header>
</div>

<div style="text-align: -webkit-center;">
    <h3 th:text="${monthName + ' ' + day.getDayOfMonth() + ', ' + day.getYear()}" style="padding: 10px; font-weight: 500;"></h3>
</div>

<div class="date-navigation">
    <div class="month-day" th:each="monthDay: ${monthDays}">
        <a class="month-day__number-href" th:href="@{/spending/2024-{month}-{day}(month=${monthDay.getMonthValue()}, day=${monthDay.getDayOfMonth()})}">
            <h2 class="month-day__number" th:text="${monthDay.getDayOfMonth()}"></h2>
        </a>
    </div>
</div>

<div class="spending-total" th:if="${!spendingList.isEmpty()}">
    <h2 th:text="${'Total: ' + spending_total + ' ₴'}"></h2>
</div>

<div class="spending-list" th:if="${!spendingList.isEmpty()}">
    <div class="spending" th:each="spending, iterStat: ${spendingList}">
        <p style="color: white; margin: 10px 0 10px 10px;">Spending</p>

        <h2 class="spending__name" th:text="${spending.getName()}" th:title="${spending.getName()}"></h2>

        <h2 class="spending__amount" th:text="${spending.getAmountToDisplay()}" th:title="${spending.getAmountToDisplay()}"></h2>

        <form class="delete-spending-form" th:method="POST" th:action="@{/spending/{id}(id=${spending.getId()})}" th:object="${spending}">
            <button style="background-color: #ff7c7c;" class="delete-spending btn" type="submit">Delete</button>
        </form>
    </div>
</div>

<div th:if="${spendingList.isEmpty()}" style="text-align: -webkit-center; margin: 10px 0 20px 0;">
    <h1 th:text="${'You didn''t have any spending on ' + monthName + ' ' + day.getDayOfMonth()}"></h1>
</div>

<div class="new-spending" th:if="${day.isEqual(today)}">
    <form class="new-spending-form" th:method="POST" th:action="@{/spending/today}" th:object="${newSpending}">
        <label for="new-spending-name"></label>
        <input class="input-field new-spending__name" type="text" th:field="*{name}" id="new-spending-name" placeholder="name">

        <label for="new-spending-amount"></label>
        <input class="input-field new-spending__amount" type="text" th:field="*{amount}" id="new-spending-amount" placeholder="amount">

        <label for="new-spending-currency"></label>
        <select class="select-field new-spending__currency" th:field="*{currency}" id="new-spending-currency">
            <option value="₴">₴</option>
        </select>

        <button class="add-spending btn" type="submit">Add</button>
    </form>
</div>

</body>
</html>